<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>待办详情</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>
<div data-role="detailpage" id="detailsPage" data-theme="c">
    <div data-role="header" data-position="fixed" data-theme="c">
        <a href="/backlog" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
        <h1>
            详细信息
        </h1>
    </div>
    <div data-role="content" data-theme="d">
        <div class="detailsContent">
            <div class="contentHead">
                <div id="nameDiv" class="name"></div>
                <br>
                <div id="timeDiv" class="time"></div>
            </div>
            <div id="contentDiv" class="contentSyle">
                <h1>详情：</h1></div>
            <div id="picDiv" class="contentPic"></div>
            <div id="MycommentDiv" class="comment">
                <textarea rows="100" cols="100" readonly id="backlogContent"
                          style="resize: none;height: 31.25rem;"></textarea>
                <a href="/backlogEdit" rel='external'>
                    <button value="编辑"></button>
                </a>
                <button id="backlogDel" value="删除"></button>
            </div>
        </div>
        <div id="MyComPopup" data-role="popup">
            <p id="MyMessage"></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var id;
    $(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: "/backlogDetailsAJAX",
            success: function (result) {
                $.each(result, function (idx, obj) {
                    id = obj.id;
                    $("#nameDiv").html(obj.backlogTitle);
                    $("#timeDiv").html("创建时间：" + obj.backlogDate);
                    $("#backlogContent").html(obj.backlogContent);

                });
            },
            error: function () {
                alert("未知异常！！");
            }
        });
    });

    $("#backlogDel").click(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: "/backlogDel",
            data: JSON.stringify({delId: id}),
            success: function (result) {
                if (result.code == 100) {
                    location.href = "/backlog";
                } else {
                    alert("删除失败！！！");
                }
            },
            error: function () {
                alert("未知异常！！");
            }
        });
    });

</script>
</body>
</html>
