<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>

<div id="contentPage2" data-role="page">
    <div data-role="content">
        <div data-role="header" data-position="fixed" data-theme="c">
            <a href="/cipher" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
            <h1>
                添加
            </h1>
        </div>
        <div role="main" class="ui-content">
            <label>密码平台：</label><input type="text" id="platform">
            <br>
            <label>账号：</label><input type="text" id="account"><br>

            <label>密码：</label><input type="text" id="cipher"><br>

            <label>备注：</label><input type="text" id="remark"><br>


            <hr style="height:3px;border:none;border-top:3px double gray;"/>
            <input type="button" id="CipSubmit" value="提交" role="button"/>
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#CipSubmit").click(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/cipherAddAJAX",
            data: JSON.stringify({
                platform: $("#platform").val(),
                account: $("#account").val(),
                cipher: $("#cipher").val(),
                remark: $("#remark").val()
            }),
            dataType: 'json',
            success: function (result) {
                if (result.code == 100) {
                    window.location.href = "/cipher";
                } else {
                    alert("添加失败！！");
                }
            },
            error: function () {
                alert("未知异常！！");
            }
        });
    });
</script>

</body>
</html>
