<!DOCTYPE html>
<html>
<
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>电子邮箱</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>


<div data-role="page" id="pageone">

    <div data-role="header" data-position="fixed" data-theme="c">
        <a href="/mainPage" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
        <h1>
            邮箱
        </h1>
    </div>
    <div data-role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
            <li>
                <a href="https://ui.ptlogin2.qq.com/cgi-bin/login?style=9&appid=522005705&daid=4&s_url=https%3A%2F%2Fw.mail.qq.com%2Fcgi-bin%2Flogin%3Fvt%3Dpassport%26vm%3Dwsk%26delegate_url%3D%26f%3Dxhtml%26target%3D&hln_css=http%3A%2F%2Fmail.qq.com%2Fzh_CN%2Fhtmledition%2Fimages%2Flogo%2Fqqmail%2Fqqmail_logo_default_200h.png&low_login=1&hln_autologin=">
                    <img src="img/QQEmail.png">
                    <h2>QQ邮箱</h2>
                    <p>QQ邮箱是腾讯公司2002年推出，向用户提供安全、稳定、快速、便捷电子邮件服务的邮箱产品，已为超过1亿的邮箱用户提供免费和增值邮箱服务。</p>
                </a>
            </li>

            <li>
                <a href="https://dl.reg.163.com/ydzj/maildl?product=mail163&pdconf=yddl_mail163_conf&mc=0F6099&curl=https%3A%2F%2Fmail.163.com%2Fentry%2Fcgi%2Fntesdoor%3Ffrom%3Dsmart%26language%3D0%26style%3D11%26destip%3D192.168.193.48%26allssl%3Dtrue%26df%3Dsmart_android">
                    <img src="img/WYEmail.png">
                    <h1>网易邮箱</h1><br>
                    <p>网易邮箱是网易公司推出的一个网络邮箱。网易邮箱在中国的市场占有率自2003年起至今，一直高居全国第一。</p>
                </a>
            </li>

            <li>
                <a href="https://mail.sina.cn/?vt=4">
                    <img src="img/sina.jpg">
                    <h2>新浪邮箱</h2>
                    <p>新浪邮箱是新浪网推出向用户提供安全、稳定、快速、便捷电子邮件服务的邮箱产品。</p>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
