<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="layer/layer.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="content">
        <div data-role="header" data-position="fixed" data-theme="c">
            <a href="/mainPage" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
            <h1>
                通讯录
            </h1>
            <a href="/linkmanAdd" rel="external" data-role="button" data-inline="true" data-icon="plus">添加</a>
        </div>
        <ul data-role="listview" id="linkmanList" data-autodividers="true" data-inset="true" data-divider-theme="c">
        </ul>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/linkmanAJAX",
            success: function (result) {
                $.each(result, function (idx, obj) {
                    $("#linkmanList").append("<li><div data-role='collapsible'><p style='display: none'>"
                        + obj.id + "</p> <h3>"
                        + obj.name + "</h3><br><h1>手机号："
                        + obj.number + "</h1> <h1>电子邮箱："
                        + obj.email + "</h1> <h1>备注："
                        + obj.remark + "</h1><a class='del' data-role='button'>删除</a></div></li>").trigger("create").listview('refresh');
                });
            },
            error: function () {
                alert("未知异常！！");
            }
        });
    });


    $(document).on("click", ".del", function () {
        var temp = $(this).parent().parent().find("p:eq(0)").text();
        layer.confirm("确认删除吗？", {
            time: 0
            , btn: ['确定', '取消']
            , yes: function (index) {
                layer.close(index);
                $.ajax({
                    dataType: "json",
                    contentType: "application/json",
                    url: "/linkmanDeleteAJAX",
                    type: "DELETE",
                    data: JSON.stringify({delId: temp}),
                    success: function (result) {
                        if (result.code == 100) {
                            layer.msg('删除成功', {icon: 6, time: 2000});
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            layer.msg(result.extendInfo.leave_del_error, {icon: 6, time: 2000});
                        }
                    }
                });
            }
        });
    });
</script>


</body>
</html>
