<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="content">
  <div data-role="header" data-position="fixed" data-theme="c">
  	<a href="home.html" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
  	<h1>
  		通讯录
  	</h1>
  	<a href="#" rel="external" data-role="button" data-inline="true" data-icon="plus">添加</a>
  </div>
  <ul data-role="listview" data-autodividers="true" data-inset="true" data-divider-theme="c">
  	  
	<li>
		<div data-role="collapsible">
        <h3>刘二</h3><br>
		<h1>手机号：13813803468</h1>
		<h1>电子邮箱：110@qq.com</h1>
		<h1>备注：110</h1>
      </div></li>
	  <li>
	  	<div data-role="collapsible">
	      <h3>刘二</h3>
	      <p>我是可折叠的内容。</p>
	    </div></li>
	  
	  <li>
	  	<div data-role="collapsible">
	      <h3>张二</h3>
	      <p>我是可折叠的内容。</p>
	    </div></li>
		
		 <li>
			<div data-role="collapsible">
		    <h3>王二</h3>
		    <p>我是可折叠的内容。</p>
		  </div></li>
		  
		  
		   <li>
		  	<div data-role="collapsible">
		      <h3>黄二</h3>
		      <p>我是可折叠的内容。</p>
		    </div></li>
			
			 <li>
				<div data-role="collapsible">
			    <h3>陈二</h3>
			    <p>我是可折叠的内容。</p>
			  </div></li>
			  
			   <li>
			  	<div data-role="collapsible">
			      <h3>周二</h3>
			      <p>我是可折叠的内容。</p>
			    </div></li>
				
				 <li>
					<div data-role="collapsible">
				    <h3>陆二</h3>
				    <p>我是可折叠的内容。</p>
				  </div></li>
				  
				   <li>
				  	<div data-role="collapsible">
				      <h3>林二</h3>
				      <p>我是可折叠的内容。</p>
				    </div></li>
					
					 <li>
						<div data-role="collapsible">
					    <h3>张二</h3>
					    <p>我是可折叠的内容。</p>
					  </div></li>
					  
					   <li>
					  	<div data-role="collapsible">
					      <h3>赖二</h3>
					      <p>我是可折叠的内容。</p>
					    </div></li>







		</div>	
  </ul>
  <p>data-autodividers="true" 属性通过对列表项文本的首字母进行大写来创建分隔符。</p>
  </div>
</div> 

</body>
</html>
