<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css"> 
<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<script src="js/modernizr.js"></script>
    <script src="js/main.js"></script>
<title></title>

<style>body{font-family: "microsoft yahei";}</style>

</head>
<body>

<ul class="cd-gallery">
	<li>
		<a href="/backlog">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<image src="image/待办事项.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="1.2">
					<image src="image/个人笔记.jpg" alt="Preview image"/>
				</li>

				
			</ul>
		</a>

		<div class="cd-item-info">
			<b><a href="#0">笔记类</a></b>

			<em class="cd-price">1</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<image src="image/联系人.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="2.2">
					<image src="image/通讯录.jpg" alt="Preview image"/>
				</li>

			</ul> 
		</a>

		<div class="cd-item-info">
			<b><a href="#0">通讯类</a></b>

			<em class="cd-price">2</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<image src="image/密码.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="3.2">
					<image src="image/任务列表.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="3.3">
					<image src="image/电子邮件.jpg" alt="Preview image"/>
				</li>
			</ul> <!-- cd-item-wrapper -->
		</a>

		<div class="cd-item-info">
			<b><a href="#0">未知类</a></b>

			<em class="cd-price">3</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<image src="image/不.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="4.2">
					<image src="image/会.jpg" alt="Preview image"/>
				</li>

				<li class="move-right" data-sale="true" data-price="4.3">
					<image src="image/作.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.4">
					<image src="image/图.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.5">
					<image src="image/顿号.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.6">
					<image src="image/单.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.7">
					<image src="image/身.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.8">
					<image src="image/狗.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.9">
					<image src="image/是.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.10">
					<image src="image/这.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.11">
					<image src="image/样.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.12">
					<image src="image/的.jpg" alt="Preview image"/>
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.13">
					<image src="image/shi.jpg" alt="Preview image"/>
				</li>
			</ul> <!-- cd-item-wrapper -->
		</a>

		<div class="cd-item-info">
			<b><a href="#0">玄学类</a></b>

			<em class="cd-price">4</em>
		</div>
	</li>

</ul>

</body>
</html>
