<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css"> 
<link rel="stylesheet" href="css/style.css"> 
<script src="js/modernizr.js"></script> 
<title></title>

<style>body{font-family: "microsoft yahei";}</style>

</head>
<body>

<ul class="cd-gallery">
	<li>
		<a href="www.baidu.com">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<img src="img/待办事项.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="1.2">
					<img src="img/个人笔记.jpg" alt="Preview image">
				</li>

				
			</ul>
		</a>

		<div class="cd-item-info">
			<b><a href="#0">笔记类</a></b>

			<em class="cd-price">1</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<img src="img/联系人.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="2.2">
					<img src="img/通讯录.jpg" alt="Preview image">
				</li>

			</ul> 
		</a>

		<div class="cd-item-info">
			<b><a href="#0">通讯类</a></b>

			<em class="cd-price">2</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<img src="img/密码.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="3.2">
					<img src="img/任务列表.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="3.3">
					<img src="img/电子邮件.jpg" alt="Preview image">
				</li>
			</ul> <!-- cd-item-wrapper -->
		</a>

		<div class="cd-item-info">
			<b><a href="#0">未知类</a></b>

			<em class="cd-price">3</em>
		</div> <!-- cd-item-info -->
	</li>

	<li>
		<a href="#">
			<ul class="cd-item-wrapper">
				<li class="selected">
					<img src="img/不.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="4.2">
					<img src="img/会.jpg" alt="Preview image">
				</li>

				<li class="move-right" data-sale="true" data-price="4.3">
					<img src="img/作.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.4">
					<img src="img/图.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.5">
					<img src="img/顿号.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.6">
					<img src="img/单.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.7">
					<img src="img/身.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.8">
					<img src="img/狗.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.9">
					<img src="img/是.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.10">
					<img src="img/这.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.11">
					<img src="img/样.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.12">
					<img src="img/的.jpg" alt="Preview image">
				</li>
				
				<li class="move-right" data-sale="true" data-price="4.13">
					<img src="img/shi.jpg" alt="Preview image">
				</li>
			</ul> <!-- cd-item-wrapper -->
		</a>

		<div class="cd-item-info">
			<b><a href="#0">玄学类</a></b>

			<em class="cd-price">4</em>
		</div> <!-- cd-item-info -->
	</li>

	
</ul> <!-- cd-gallery -->


<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.mobile.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->


</body>
</html>
