<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>添加列表</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header" data-position="fixed" data-theme="c">
        <a href="/PIM/taskList" rel="external" data-role="button" data-inline="true" data-icon="back">返回</a>
        <h1>
            添加
        </h1>
    </div>
    <div role="main" class="ui-content">
        <label for="taskItem">任务：</label><input type="text" id="taskItem">
        <br>
        <hr style="height:3px;border:none;border-top:3px double gray;"/>
        <input type="button" id="submit" value="提交" role="button"/>
    </div>
    <br/>
</div>

<script type="text/javascript">
    $("#submit").click(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/PIM/taskListAddAJAX",
            data: JSON.stringify({taskItem: $("#taskItem").val()}),
            dataType: 'json',
            success: function (result) {
                if (result.code == 100) {
                    location.href = "/PIM/taskList";
                } else {
                    alert("保存失败！！");
                }
            },
            error: function () {
                alert("未知异常！！");
            }
        });
    });
</script>

</body>
</html>
